
@charset "utf-8";
/* CSS Document */
/* body{
  display: block;
} */

.content{
  position: relative;
  top: 0;
  min-height: 500px;
  color: black;
  background-color: #F67C0A;
}
.content p{
  margin: 5px;;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.text{
  text-align: center;
}
.pic1 {
  position: relative;
  float: left;
  width: 25%;
  margin: 100px 5px 0px 150px;
  background-color: #fff;
  min-height: 300px;
  border: azure 3px;
  
}
.pic2 {
  position: relative;
  float: left;
  width: 25%;
  margin: 100px 5px 0px 5px;
  background-color: #fff;
  min-height: 300px;
}
.pic3 {
  position: relative;
  float: left;
  width: 25%;
  margin: 100px 100px 0px 5px;
  background-color: #fff;
  min-height: 300px;
}

#container1 {
  max-width:auto;
  height:auto;
}
