@charset "utf-8";

.header {
  overflow: hidden;
  width:100%;
  height: 85px;
  position:fixed;
  top: 0;
  z-index:99;
  background-color: #005F90;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  /*background-color: rgba(0,188,255,0.7);*/
  box-shadow: 0em 0em 2em 5px rgba(0,188,255,0.23);

}

.header a {
  float: left;
  color: #000;
  text-align: center;
  font-weight: bold;
  padding: 12px;
  text-decoration: none;
  font-size: 20px; 
  line-height: 25px;
  border-radius: 1px;
  position: relative;
  margin-top: 20px;
  width: 80px;	  
}

.header a:hover {
  background-color: #ddd;
  color: #000;
}

.header a.logo {
	bottom: 30px;
	position: relative;
  left:45%
}

.header a.active {
  background-color: #F67C0A;
  color: #fff;
}

.header-right {
  float: right;
}

.header-left {
  float: left;
}

.content{
  position: relative;
  top: 0;
  min-height: 500px;
  color: black;
  background-color: #F67C0A;
}
.content p{
  margin: 5px;;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.text{
  text-align: center;
}
.pic1 {
  position: relative;
  float: left;
  width: 25%;
  margin: 100px 5px 0px 150px;
  background-color: #ddd;
  min-height: 300px;
}
.pic2 {
  position: relative;
  float: left;
  width: 25%;
  margin: 100px 5px 0px 5px;
  background-color: #ddd;
  min-height: 300px;
}
.pic3 {
  position: relative;
  float: left;
  width: 25%;
  margin: 100px 100px 0px 5px;
  background-color: #ddd;
  min-height: 300px;
}
.footer{
  min-height: 200px;
  background-color: #005F90;
}

footer a{
  position: relative;
  left:50%;
}
.ftext a{
  color: #000;
  left:42%;
  top: 5px;
  margin: 5px;
}

.header i{
  margin: 40px 10px 10px 10px;
}
.footer i{
  margin: 0px 10px 10px 10px;
}
